<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous"
      />

      <title>New URL - TinyApp Example</title>
    </head>
  </head>
  <body>
    <%- include(`./partials/_header`) %>
    <div>
      <h2>Login</h2>
      <form method="POST" action="/login">
        <div>
          <input placeholder="Email" id="email" type="email" name="email" />
        </div>
        <div>
          <input placeholder="Password" type="password" name="password" />
        </div>
        <div>
          <button type="submit">
            Login
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
